body{
    background-color: lightgrey;
    background-size: 100%;
    background-repeat: no-repeat;
}
form{
    text-align: center;
}
.inFrm{
   /* margin-top: 23.5%;
    text-align: left;
    margin-left: 41%;
    text-align: left;*/
}
#nImg{ /width: 15%;/ }

.content{
    margin: auto;
    width: 50%;
    background: #fff;
    height: 500px;
    border-radius: 10px;
}
.inDiv input[type="text"]{
    display: inline-block;
    width: 80%;
    background: lightgrey;
    border-radius: 5px;
    padding: 9px;
}
.inDiv{
    display: inline-block;
    margin: 10px;
}
.sB{ width: 40%; }
.sB:nth-child(1){ text-align: right; }
.sB:nth-child(2){ text-align: left; }
.inDiv:nth-child(3){ 
    margin: auto;
    width: 68%;
    display: block;
 }